*{
	box-sizing: border-box;
}
.container{
	width: 100%;
}
body {
	background-color: red;	
  background-image: url("i.jpg");
  background-repeat: no-repeat;
  background-size:cover; 
  background-attachment: fixed;
}
h1{
	margin-left: auto;
	margin-right: auto;
	background-color:rgb(256,256,256,0.6);
	width: 200px;
	text-align: center; 
}

		#t1
	{
		background-color:rgb(255,46,18,0.8);
		color:white;
		float: right; 
	}
	#t2
	{
		background-color:rgb(80,115,81,0.8);
		color:white;
		float: right; 
	}

	#t3
	{
		background-color:rgb(115,190,69,0.8);
		color:white;
		float: right; 
	}
	
	span{
		font-weight: bold;
		font-size: 110%;
	}
	p
	{	
		margin: 10px;
		border: 1px solid rgb(97,97,97);
		padding: 0px;
		color:white;
		background-color:rgb(98,98,98,0.5); 
	}
@media (min-width: 768px) and (max-width: 991px)
{	
.col1,.col2{
	width: 50%;
	float: left;
	position: relative;
}
.col3{
	position: relative;
	float: left;
	width: 100%;
}
}
@media(min-width: 992px)
{
	.col1,.col2,.col3
	{
		width: 33.333%;
		float: left;
		position: relative;
	}
}
